In [1]:
import pandas as pd
df = pd.read_csv('D:\\book.csv')
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [2]:
df.shape #shape represents dimensions

(6, 4)

In [5]:
rows, columns = df.shape
rows

6

In [7]:
df.head(2) #it will print only two rows for last use tail

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny

In [8]:
df[2:5]

          day  temperature  windspeed event
2  03-01-2017           28          2  Snow
3  04-01-2017           24          7  Snow
4  05-01-2017           32          4  Rain

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [11]:
df['day']

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: day, dtype: object

In [12]:
type(df['event'])

pandas.core.series.Series

In [14]:
df[['event','day']]

   event         day
0   Rain  01-01-2017
1  Sunny  02-01-2017
2   Snow  03-01-2017
3   Snow  04-01-2017
4   Rain  05-01-2017
5  Sunny  06-01-2017

In [15]:
df['temperature'].max() #you can use mean,std

35

In [16]:
df.describe() #to print statistics

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [17]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [18]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  02-01-2017           35          7  Sunny

In [20]:
#use of set index
df.index

RangeIndex(start=0, stop=6, step=1)

In [23]:
df.set_index('day', inplace=True)

In [24]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
02-01-2017           35          7  Sunny
03-01-2017           28          2   Snow
04-01-2017           24          7   Snow
05-01-2017           32          4   Rain
06-01-2017           32          2  Sunny

In [27]:
df.reset_index(inplace=True)

In [28]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [ ]:
#different ways of creating data frames
# way 1 : df = pd.read_excel("weather_data.xlsx","Sheet1")
# way 2 : using dictionaries
weather_data = {
    'day':['1/1/2017','1/2/2017'],
    'temperature':[6,7]
}
df = pd.DataFrame(weather_data)
#way 3 : using tuple list
weather_data = {
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',32,6,'sunny'),
}
df = pd.DataFrame(weather_data, columns=["day","temperature"])